.todo-login {

  &__container {
    background-color: $grey-light;
    box-shadow: $box-shadow-1;
    margin: 0 auto;
    margin-top: 40px;
    width: 280px;
  }

  &__block {
    padding-top: 24px;
  }

  &__icon {
    height: 170px;
    margin: 0 auto;
    text-align: center;
    width: 170px;

    img {
      height: 100%;
    }
  }

  &__welcome {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }

  &__login-btn {
    padding-bottom: 16px;
    padding-right: 16px;
    text-align: right;
  }
}
