<section class="todo-login">
  <div class="todo-login__container">
    <div class="todo-login__block todo-login__icon">
      <img src="assets/images/todo-app.jpg" alt="todo-app image">
    </div>
    <div class="todo-login__block todo-login__welcome">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam.
    </div>
    <div class="todo-login__block todo-login__login-btn">
      <md-button
        class="md-raised md-primary"
        ng-click="::$ctrl.login()">Login</md-button>
    </div>
  </div>
</section>
