.todo-task {

  &__container {

    .todo-task__title {
      font-size: 14px;
    }

    .todo-task__date {
      float: right;
      font-size: 12px;
    }

    .todo-task__checkbox {
      font-size: 10px;
      margin-bottom: 0;
    }

    .todo-task__checkbox,
    .todo-task__title,
    .todo-task__date {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
