<div class="todo-task">
  <div class="todo-task__container">
    <md-checkbox
      aria-label="Checkbox for tasks"
      class="todo-task__checkbox"
      ng-checked="exists(item, selected)"
      ng-click="toggle(item, selected)">
      {{ item }}
    </md-checkbox>
    <div class="todo-task__title">
        {{$ctrl.task.title || 'No title to display'}}
    </div>
    <div class="todo-task__date">
        {{$ctrl.task.updated | date:'yyyy-MM-dd' }}
    </div>
  </div>
</div>
