<div class="todo-viewer">
  <h2 class="todo-viewer__list md-headline">
    <span>{{$ctrl.list.title}}</span>
  </h2>
  <div class="todo-viewer__tasks">
    <div class="todo-repeated-items" ng-repeat="task in $ctrl.list.tasks">
      <task task="task"></task>
    </div>
  </div>
</div>
