.todo-viewer {
  padding: 34px 54px;

  &__list {
    position: relative;
  }

  &__tasks{

    .todo-repeated-items {
      box-shadow: $box-shadow-light;
      margin: 8px 0;
      padding: 16px;
    }
  }
}
