.todo-header {
  background-color: $indigo-400;
  height: $nav-height;
  position: fixed;
  width: 100%;

  &__container {
    margin: 0 auto;
    max-width: 1200px;
    width: 80%;
  }

  &__logo,
  &__menu {
    color: $white;
    display: inline-block;
    width: 49%;
  }

  &__logo {

    .md-headline {
      line-height: $nav-height;
      margin: 0;
    }
  }

  &__menu {
    text-align: right;

    ul {

      li {
        display: inline-block;
        margin: 0 8px;
      }
    }
  }
}
