<div class="todo-header">
  <div class="todo-header__container">
    <div class="todo-header__logo">
      <h1 class="md-display-1">
        <span
          class="todo-btn todo-btn--default"
          ng-click="::$ctrl.go('todo')">
          ToDo
        </span>
      </h1>
    </div>
    <div class="todo-header__menu">
      <ul>
        <li
          ng-hide="$ctrl.$state.current.name === 'login'"
          class="todo-btn todo-btn--default"
          ng-click="::$ctrl.logout()">
          Logout
        </li>
      </ul>
    </div>
  </div>
</div>
