<div ng-show="!!$ctrl.newList" class="todo-app_list--new">
  <input
    type="text"
    ng-model="$ctrl.newList.title">
  <md-button
    class="todo-btn todo-btn--success btn-sm"
    aria-label="Insert new list"
    ng-click="::$ctrl.insertList($ctrl.newList)">
    <md-icon>done</md-icon>
  </md-button>
</div>
<h3 class="md-title">
  <span>Lists</span>
  <md-button
    class="md-icon-button"
    aria-label="New List"
    ng-click="$ctrl.createNewList()">
    <md-icon>add</md-icon>
  </md-button>
</h3>
<div class="todo-app__list__row__container">
  <div
    class="todo-app__list__row"
    ng-class="{'todo-app__list--active': list.id === $ctrl.activeListId}"
    ng-repeat="list in $ctrl.lists">

    <div
      class="todo-list-static"
      ng-hide="$ctrl.updatingList.id === list.id"
      ng-click="::$ctrl.showTasks(list.id)">
      <list-row list="list"></list-row>
    </div>

    <div
      class="todo-list-edit__input"
      ng-if="$ctrl.updatingList.id === list.id">
      <input
      type="text"
      ng-model="$ctrl.updatingList.title">
    </div>

    <md-button
      ng-show="$ctrl.updatingList.id === list.id"
      class="md-icon-button todo-list-edit__btn btn-done"
      aria-label="Update List"
      ng-click="$ctrl.updateList(list)">
      <md-icon>done</md-icon>
    </md-button>

    <md-button
      ng-show="$ctrl.updatingList.id === list.id"
      class="md-icon-button todo-list-edit__btn"
      aria-label="Update List"
      ng-click="$ctrl.deleteList(list)">
      <md-icon>delete</md-icon>
    </md-button>

    <md-button
      ng-class="{'todo-btn--hidden': $ctrl.updatingList.id === list.id}"
      ng-hide="$ctrl.updatingList.id === list.id"
      class="md-icon-button todo-list-edit__btn btn-create"
      aria-label="Update List"
      ng-click="$ctrl.updatingList = list">
      <md-icon>create</md-icon>
    </md-button>
  </div>
</div>
