.todo-app {

  &__list {
    position: relative;

    &--active {
      background-color: $orange-700;
      color: $white;
      font-weight: 600;
      @include todo-transition(background-color, 0.8s, ease-out);

      md-icon {
        color: $white;
      }
    }

    .md-title {
      position: relative;

      button {
        position: absolute;
        right: 0;
        top: -10px;
      }
    }

    &__row {
      position: relative;
      margin: 8px 0;

      &:focus {
        outline: 0;
      }

      &__container {
      }

      &:hover {

        .todo-list-edit__btn.btn-create:not(.todo-btn--hidden) {
          display: block !important;
        }
      }
    }

    input {
      width: 99%;
    }
  }
}

.todo-list-static {

  &:focus {
    outline: 0;
  }
}

.todo-list-edit {

  &__input {
    width: 60%;
  }

  &__btn {
    height: 24px !important;
    min-height: 24px !important;
    padding: 0 !important;
    position: absolute !important;
    right: 0!important;
    top: 0;
    width: 24px !important;

    &.btn-create {
      display: none !important;
    }

    &.btn-done {
      right: 24px !important;
    }

    @media #{$media-ls-md} {
      display: block !important;
    }
  }
}
