<div class="todo-filter">
  <div class="todo-inline-block todo-filter__icon">
    <md-icon>{{::$ctrl.filter.icon}}</md-icon>
  </div>
  <div class="todo-inline-block todo-filter__label">
    <span>{{::$ctrl.filter.label}}</span>
  </div>
</div>
