.todo-flex-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.todo-inline-block {
  display: inline-block;
  vertical-align: middle;
}

/* buttons */

.todo-btn {

  &:focus {
    outline: 0;
  }

  &:hover {
    cursor: pointer;
  }

  &.todo-btn--success {
    background-color: $light-green-500;
    color: $white;
  }

  &.btn-sm {
    height: 24px;
    line-height: 16px;
    margin: 0;
    min-height: 24px;
    min-width: auto;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
  }

  &__fab {
    background-color: $orange-700 !important;
    bottom: 24px;
    position: fixed !important;
    right: 40px;
  }
}
