/* ToDo app variables */

$nav-height: 80px;

/* Colors */
$dark: #000;
$indigo-400: #5C6BC0;
$indigo-500: #3F51B5;
$deep-orange-300: #FF8A65;
$deep-orange-400: #FF7043;
$orange-700: #F57C00;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-light: #ECF0F1;
$light-green-500: #8BC34A;
$white: #FFF;


/* Tools */
$box-shadow-1:  4px 5px 5px 0 rgba(0, 0, 0, 0.14),
                0px 0px 0px 0px rgba(0, 0, 0, 0.098),
                0px 0px 5px 1px rgba(0, 0, 0, 0.084);

$box-shadow-light:  4px 4px 5px 0 rgba(0, 0, 0, 0.14),
                0px 0px 0px 0px rgba(0, 0, 0, 0.098),
                0px 0px 0px 0px rgba(0, 0, 0, 0.084);


/* Responsive breakpoints */
$media-ls-xlg: '(max-width: 1920px)';
$media-ls-lg: '(max-width: 1280px)';
$media-ls-md: '(max-width: 960px)';
$media-ls-sm: '(max-width: 600px)';
$media-ls-xs: '(max-width: 400px)';

$media-gt-xlg: '(min-width: 1920px)';
$media-gt-lg: '(min-width: 1280px)';
$media-gt-md: '(min-width: 960px)';
$media-gt-sm: '(min-width: 600px)';
$media-gt-xs: '(min-width: 400px)';

$media-xlg: '(min-width: 1280px) and (max-width: 1920px)';
$media-lg: '(min-width: 960px) and (max-width: 1280px)';
$media-md: '(min-width: 600px) and (max-width: 960px)';
$media-sm: '(min-width: 400px) and (max-width: 600px)';
$media-xs: '(min-width: 300px) and (max-width: 400px)';
