* {
  box-sizing: border-box;
}

body {
  background-color: $grey-200 !important;
  @extend .todo-flex-column;
}

.todo-main-view {
  padding-top: $nav-height;
  overflow: hidden;
  @extend .todo-flex-column;
}

[ui-view="viewer"] {
  max-height: 100%;
  overflow: auto;
}
