<div class="todo-list-row">
  <div class="todo-inline-block todo-list-row__icon">
    <md-icon>list</md-icon>
  </div>
  <div
    class="todo-inline-block todo-list-row__title todo-btn">
    <span>{{$ctrl.list.title}}</span>
  </div>
</div>
