.todo-app {
  position: relative;
  @extend .todo-flex-column;

  &__container {
    display: flex;
    flex: 1;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    width: 80%;
  }

  &__side-nav {
    overflow: auto;
    padding-top: 60px;
    width: 20%;
    @include todo-transition(left, 0.4s, ease-out);

    @media #{$media-ls-lg} {
      background-color: $white;
      box-shadow: $box-shadow-1;
      height: 100%;
      left: -50%;
      padding-left: 24px;
      position: absolute;
      width: 200px;
      z-index: 100;

      &.todo-app__side-nav--opened {
        left: -14%;
      }
    }

    @media #{$media-ls-md} {
      left: -100%;
    }

    &__burger-btn {
      display: none;
      left: 10px;
      position: fixed;
      top: 28px;

      @media #{$media-ls-lg} {
        display: block;
      }

      md-icon {
        color: $white;
      }
    }
  }

  &__viewer {
    background-color: $white;
    height: 100%;
    width: 100%;
    @include todo-transition(left, 0.9s, ease-out);

    @media #{$media-ls-lg} {
      left: 0;
      margin: 0 auto;
      position: absolute;
    }

    &.todo-app__viewer--opened {
      left: 40px;
    }
  }

  &__filter {
    border-bottom: 1px solid $grey-400;

    &__row {
      margin: 8px 0;
    }
  }
}
