<section class="todo-app">

  <div
    class="todo-app__side-nav__burger-btn"
    ng-click="$ctrl.showSideNav = !$ctrl.showSideNav">
    <md-button class="md-icon-button">
      <md-icon>dehaze</md-icon>
    </md-button>
  </div>

  <div class="todo-app__container">

    <div
      ng-class="{'todo-app__side-nav--opened': $ctrl.showSideNav}"
      class="todo-inline-block todo-app__side-nav">

      <!-- filters -->
      <div class="todo-app__filter">
        <div class="todo-app__filter__row" ng-repeat="filter in $ctrl.filters">
          <filter filter="filter"></filter>
        </div>
      </div>

      <!-- lists -->
      <div class="todo-app__list">
        <list lists="$ctrl.lists"></list>
      </div>

    </div>

    <div
      ng-class="{'todo-app__viewer--opened': $ctrl.showSideNav}"
      class="todo-inline-block todo-app__viewer">
      <div class="" ui-view="viewer"></div>
    </div>

  </div>

  <md-button
    class="todo-btn__fab md-fab"
    aria-label="New Task"
    ng-click="::$ctrl.newTask($event)">
      <md-icon>add</md-icon>
  </md-button>

</section>
